<!DOCTYPE html>
html(lang="es")
    head
        include partials/header
    body.login
        .contenedor-formulario
            h1 Iniciar sesion

            if locals.mensajes
                .alertas
                    each categoria in Object.keys(locals.mensajes)
                        each error in mensajes[categoria]
                            .alerta(class=`${categoria}`)
                                p= error

            form#formulario.caja.caja-login(method="POST" action="/iniciar-sesion")
                .campo
                    label(for="email") E-mail
                    input(type="text" name="email" placeholder="Tu Email" value= email)
                .campo
                    label(for="password") Contrase単a
                    input(type="password" name="password" placeholder="Tu contrase単a" value= password)
                .campo.enviar
                    input.boton(type="submit" value="Inicia Sesion")
                .campo.acciones
                    a(href="/crear-cuenta") Si no tienes usuario crea tu cuenta aqui
                    a(href="/reestablecer") 多Olvidaste tu contrase単a?
        