<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style
            style
                include ./email.css
            
    body
        h2 Confirma tu cuenta UpTask
        p Hola, ya casi esta todo listo, solo da click en el siguiente boton y tu cuenta sea confirmada
        a(href=`${confirmarUrl}`) Ir al enelace para confirmar tu cuenta
        p Si no puedes acceder al enlace, visita #{confirmarUrl}
        p Si no solicitaste este e-mail, ignorelo por favor